# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
venv/
ENV/

# Distribution / packaging
dist/
build/
*.egg-info/

# Unit test / coverage reports
htmlcov/
.tox/
.coverage
.coverage.*
.cache
coverage.xml
*.cover

# IDE
.idea/
.vscode/
*.swp
*.swo

# Project specific
data/input/*
!data/input/.gitkeep
data/output/*
!data/output/.gitkeep
data/output/logs/*
!data/output/logs/.gitkeep
!data/output/logs/terminal_*.log